/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #04002b;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    /* ... */
}

/* ... (Estilos para botões, títulos, etc.) */

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

/* ... (Estilos para links, navegação, etc.) */

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu {
    display: none;
}

/* ... (Estilos para o menu mobile) */

.overlay-menu {
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* ... (Estilos para sobreposição do menu mobile) */

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

/* ... (Estilos para o topo do site) */

/* CONTEUDO PRINCIPAL */
.conteudo-principal {
    /* ... (Estilos para a seção principal do conteúdo) */
}

/* ESTILO DE INFORMACOES */
.img-port {
    /* ... (Estilos para imagens de portfólio) */
}

.overlay {
    /* ... (Estilos para sobreposição de imagem ao passar o mouse) */
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

/* ... (Estilos para o rodapé) */

.CPRG {
    text-align: center;
    color: #eeff00;
}

.logo-footer {
    display: flex;
    justify-content: center;
}
